<app-navbar></app-navbar>

<div>
    <section class="blue">
        <h1>Welcome {{getName()}}</h1>
        <h2>This is my first angular and nodejs project</h2>
        <div class="curve"></div>
      </section>
  
      <section>
        <h1>Lorem ipsum dolor sit</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati id impedit doloremque facilis hic libero earum ut perferendis, culpa, vitae ullam fugiat laboriosam, deleniti est laborum vel ea quo tempore?</p>
      </section>
  
  
</div>